config MTK_MXC400X_NEW
	bool "MXC400X_NEW for MediaTek package"
	default n
	help
	  It support different accelerometer sensor.
          If this option is set,
	  it will support
          MXC400X_NEW Accelerometer.
